[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa.git
[submodule "bedtools2"]
	path = bedtools2
	url = https://github.com/arq5x/bedtools2
[submodule "vcflib"]
	path = vcflib
	url = https://github.com/edawson/vcflib
